<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ projectName ~ ' : ' ~ pageHeading }}</title>
		{% if description %}
			<meta name="description" content="{{ description }}">
		{% endif %}
		<link rel="stylesheet" href="{{ rootPath }}styles/main.css{{ version }}">

		{% for weight in [300, 400, 700, 900] %}
			{% for fontFamily in ["Ubuntu", "Montserrat", "Bebas Neue"] %}
				{% if fontFamily == "Ubuntu" %}
					<link rel="preload" href="fonts/Ubuntu-{{ weight }}.woff2" as="font" type="font/woff2" crossorigin="anonymous">
				{% endif %}
				{% if fontFamily == "Bebas Neue" %}
					<link rel="preload" href="fonts/BebasNeue-{{ weight }}.woff2" as="font" type="font/woff2" crossorigin="anonymous">
				{% endif %}
				{% if fontFamily == "Montserrat" %}
					<link rel="preload" href="fonts/Montserrat-{{ weight }}.woff2" as="font" type="font/woff2" crossorigin="anonymous">
				{% endif %}
			{% endfor %}
		{% endfor %}
		<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
		<link rel="manifest" href="site.webmanifest">
		<link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

	</head>
	<body>
		<div class="page container">
			<main>
				{% block main %}{% endblock %}
			</main>
		</div>

		<script>
			window.appData = {{ appData|json_encode() }};
		</script>
		<script src="{{ rootPath }}scripts/main.js{{ version }}"></script>

		{% if isDev %}
			<script>
				window.pixelperfect = {{ pixelperfect }};
			</script>
			<script src="https://efiand.github.io/pixelperfect-tool/pixelperfect.min.js"></script>
		{% endif %}
	</body>
</html>
